:root {
    background-color:rgb(222, 134, 209);
    font-size: 50%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color:rgb(38, 19, 27) 
}


h1,
h2,
h3,
h4{
    margin-bottom: 1rem;
}

h1 {
    font-size: 10rem;
    color:rgb(57, 59, 224);
    margin-bottom: 4rem;
    text-align: center;
    margin-top: 25rem;
}

h1>span {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 4rem;
    font-weight: bolder;
    margin-bottom: 3rem;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
}


.container {
    width: 100%;
    height:100%;
    display: flex; /* make a box*/
    justify-content: center;
    align-items: center;
    margin:auto;
    max-width: 60rem;
    padding: 2rem;
}

.container>*{  /*child combinator it selects only the direct child elements of the parent element. */
    width:100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}

.hidden{
    display: none;
}

/*buttons */
.btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    /*font-family: "Dancing Script";*/
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    color:rgb(64, 123, 183);
    background-color:rgb(222, 183, 189);
    border: 0.3rem solid rgb(219, 175, 137);
    transition: all 0.3s;
    cursor: pointer;
    width: auto;
}

.btn:hover {
    background-color:rgb(159, 137, 143);
    color:rgb(59, 185, 220);
    cursor: pointer;
    box-shadow: 0 0.4rem 1rem 0 rgb(197, 170, 151);
    transform: translateY(0.5rem);
    transition: transform 150ms;
}

.btn[disabled]:hover{
    cursor: not-allowed;
    box-shadow:none;
    transform:none;
}

/*form*/

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}

input{
    width: 20rem;
    padding: 2rem;
    font-size: 2rem;
    border: 0.3rem solid rgb(219, 175, 137);
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    background-color:rgb(222, 183, 189);
    box-shadow: 0 0.4rem 1rem 0 rgb(67, 119, 216);
    color:rgb(230, 25, 83);
}